/*body {
  background-image: url("../images/body_bg.png");
  background-repeat: no-repeat;
  background-size: cover;*/
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');
*{
  font-family: 'Poppins', sans-serif;    
}
body{
  line-height: 1.2em;
    background-color: #f4f4f4;
}
.card{
  padding-top: 2px;
  padding-bottom: 2px;
}
.row{
  padding: 2px 0 2px 0;
}

h1 {
  color: #fdb827;
  padding: 10px 0;
}
.carousel-item {
  height: 70vh;
  width:100%;
  min-height: 300px;
}
.carousel-caption {
  bottom: 170px;
}
.carousel-inner {
  /*margin-top: 79px;*/
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  
}
.carousel-caption a {
  text-transform: uppercase;
  background: #262626;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
}
.w-100 {
  height: 100vh;
}
.card img{
  padding: 30px;
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
}
.heading-title{
  line-height: 42px;
  font-weight: 700;
  font-size: 30px;
  color: black;
}
.overwrite-padding{
  padding: 75px;
  margin-top: -75px;
}
@media(max-width:540px){
  .overwrite-padding{
  padding: 1px;
  margin-top: 1px;
}
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  /*padding: 50px;*/
}
.card-text{
  text-align: justify;
}
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 1.4);
  }
  .card a {
    color: initial;
  }
    .card a:hover {
      text-decoration: initial;
    }
  
  .text-muted i {
    margin: 0 10px;
  }
/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}






