
.headerr{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em .5em 1em .5em;
    height: auto;
    width:96%;
    margin:0 auto;
    cursor: pointer;
    /* border:1px solid blue; */
    /*border-bottom: 3px solid #f4f4f4;*/
    /*box-shadow: -10px 0 3px #f4f4f4;*/
}

.navv{
    padding: .2em ;
    /* border:1px soid black; */
}

.navUl{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: .5em;
}

.navUl li{
    display: flex;
    justify-content: space-evenly;
    padding: .2em 2em .2em .2em;
}

.navUl li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    color:#222831;
    text-transform: uppercase;
    position: relative;
    border-top: 3.5px solid transparent;
    transition: border 300ms ease-in-out;
    transform-origin: left;
}

.navUl li a:hover{
    border-color:#fdb827;
}


/* .navUl li:first-child a{
    background:linear-gradient(transparent 60%,#fdb827 40%);   
}

.navUl li >*:hover,
.navUl li >*:focus
{
    background:linear-gradient(transparent 60%,#f4f4f4 40%);
} */



.logo{
    padding: .3em .5em 0 0;
    font-size: 1.2em;
}
.logo h1{
    font-weight: 500;
    color: #222831;
}
.logo h1 span{
    font-weight: 900;
    color:#fdb827;
    /* text-shadow: 0 0 5px #222831; */
}


.hamBurger{
    position: absolute;
    top:25px;
    right:30px;
    background-color: #f4f4f4;
    padding: 0 .35em;
    display: none;
    box-shadow: 0 0 3px #222831;
    width:48px;
    height:33px;
    border-radius: 3.5px;
}

.lines{
    width:35px;
    height:3px;
    background-color: #222831;
    margin:.35em 0;
    border-radius:5px;
    transition: all 500ms ease-in-out;
}

.changeline1{
    background-color:#222831;
    position: absolute;
    top:10.5px;
    transform: rotate(45deg);
}
.changeline2{
    position:absolute;
    top:10px;
    opacity: 0;

}
.changeline3{
    background-color:#222831;
    position: absolute;
    bottom:9.5px;
    transform: rotate(-45deg);
}


@media(max-width:1035px){
    .logo{
        font-size: 1em;
    }

    .navUl li{
        padding: 0 10px 0 10px;
        
    }
}

@media(max-width:895px){
    .navUl{
        flex-direction: column;
        background-color: #fdb827;
        position: absolute;
        right:0;
        top:60px;
        transform: translateY(-300px);
        transition: transform .7s ease-in-out;
        z-index: 20;
        box-shadow: 0 0  5px #222831;
    }

    .navUl li{
        margin:.7em 1.5em;
        z-index: 2;
    }


    .navUl li a:hover,
    .navUl li a:focus{
        background:linear-gradient(transparent 60%,#f4f4f4 40%);
    }

    .hamBurger{
        display: block;
    }

    .show{
        transform: translateY(0);
    }
}